#body {
    background-color: skyblue
}
#content {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
}   
#menu {
    grid-column: 1/13;
}
#menu li {
    display: inline;
}
#content {
    grid-column: 1/13;
}

#aside {
    grid-column: 1/13;
}

#footer {
    grid-column: 1/13;
    text-align: right;
}
    
    
    
